.selectBackground {
  height: max-content;
  padding: 5px;
  background-color: black;
}
.heading {
  margin-top: 1.8rem;
  font-size: 21px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.para {
  font-size: 14.5px;
  font-family: sans-serif;
  color: #262626;
  margin-top: 1rem;
}
